.banner {
  height: 223px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  max-width: 1240px;
  padding: 0 20px;
}

.banner-title {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
  padding: 20px;
}

@media (max-width: 768px) {
  .banner {
    height: 111px;
    border-radius: 10px;
    justify-content: flex-start;
    padding-left: 20px;
    margin: 20px;
  }
  
  .banner-title {
    font-size: 1.5rem;
    text-align: left;
    max-width: 70%;
  }
}