.header {
  padding-top: 20px;
}

.header-content {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.nav a {
  color: #000000;
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .logo img {
  max-width: 150px;
  height: auto;
  display: block;
}

.nav {
  display: flex;
}

.nav a {
  color: #000000;
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}
}