.logement-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logement-image {
  width: 100%;
  height: 400px;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 30px;
}

.logement-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logement-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.logement-title-section h1 {
  color: #FF6060;
  font-size: 36px;
  margin-top: 20px;
}

.location {
  font-size: 18px;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background: #FF6060;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
}

.host-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host p {
  color: #FF6060;
  text-align: right;
  max-width: 100px;
}

.host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.rating .stars {
  color: #FF6060;
  font-size: 24px;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.description, .equipments {
  background: #F6F6F6;
  border-radius: 10px;
  padding: 20px;
}

.description h3, .equipments h3 {
  color: #FF6060;
  margin-bottom: 10px;
}

.equipments ul {
  list-style: none;
  padding-left: 0;
}

.equipments li {
  margin-bottom: 5px;
}

.error-message {
  text-align: center;
  padding: 100px 20px;
  color: #FF6060;
}

.rating-stars {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.fa-solid.fa-star {
  font-size: 24px;
}

.star-filled {
  color: #ff6060; 
}

.star-empty {
  color: #e3e3e3; 
}

.star-empty {
  color: #e3e3e3; 
}

@media (max-width: 768px) {
  .logement-image {
    height: 250px;
    border-radius: 10px;
  }
  
  .logement-header {
    flex-direction: column;
    gap: 20px;
  }
  
  .logement-title-section h1 {
    font-size: 24px;
  }

  
 .host-rating {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.host-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .host {
    display: flex;
    align-items: center;
    gap: 10px;
    order: 2; 
    flex-direction: row; 
  }

  .stars-container {
    order: 1; 
    display: flex;
    gap: 5px;
  }

  .host-name {
    text-align: right; 
    max-width: 80px; 

  }

.host-picture {
    width: 48px;
    height: 48px;
}

.stars-container {
    display: flex;
    gap: 5px;
}

.fa-star {
    font-size: 20px;
}
}